# Python temporary files
__pycache__/
*.pyc
.venv/
venv/

# Node.js dependencies
node_modules/
npm-debug.log

# Databases & Environments
*.sqlite
.env

# Operating system files
.DS_Store
Thumbs.db
=======
### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.flf
#Test results file
TestResults.xml
# backups
*.old
backups/

